/* https://github.com/jwarby/jekyll-pygments-themes */
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #999988;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
.highlight .k {
  color: #000000;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #000000;
  font-weight: bold;
} /* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
} /* Generic.Deleted */
.highlight .ge {
  color: #000000;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #aa0000;
} /* Generic.Error */
.highlight .gh {
  color: #999999;
} /* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
} /* Generic.Inserted */
.highlight .go {
  color: #888888;
} /* Generic.Output */
.highlight .gp {
  color: #555555;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
} /* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
} /* Generic.Traceback */
.highlight .kc {
  color: #000000;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #000000;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #000000;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #000000;
  font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #000000;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
} /* Keyword.Type */
.highlight .m {
  color: #009999;
} /* Literal.Number */
.highlight .s {
  color: #d01040;
} /* Literal.String */
.highlight .na {
  color: #008080;
} /* Name.Attribute */
.highlight .nb {
  color: #0086b3;
} /* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #008080;
} /* Name.Constant */
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
} /* Name.Decorator */
.highlight .ni {
  color: #800080;
} /* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
} /* Name.Function */
.highlight .nl {
  color: #990000;
  font-weight: bold;
} /* Name.Label */
.highlight .nn {
  color: #555555;
} /* Name.Namespace */
.highlight .nt {
  color: #000080;
} /* Name.Tag */
.highlight .nv {
  color: #008080;
} /* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mf {
  color: #009999;
} /* Literal.Number.Float */
.highlight .mh {
  color: #009999;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #d01040;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #d01040;
} /* Literal.String.Char */
.highlight .sd {
  color: #d01040;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #d01040;
} /* Literal.String.Double */
.highlight .se {
  color: #d01040;
} /* Literal.String.Escape */
.highlight .sh {
  color: #d01040;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #d01040;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #d01040;
} /* Literal.String.Other */
.highlight .sr {
  color: #009926;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #d01040;
} /* Literal.String.Single */
.highlight .ss {
  color: #990073;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
} /* Name.Variable.Class */
.highlight .vg {
  color: #008080;
} /* Name.Variable.Global */
.highlight .vi {
  color: #008080;
} /* Name.Variable.Instance */
.highlight .il {
  color: #009999;
} /* Literal.Number.Integer.Long */

/* override github syntax highlighting */

/* VS Code Light+ Theme */
/* .highlight pre { background-color: #FFFFFF; } */
.highlight .hll {
  background-color: #f5f5f5;
}
/* .highlight { color: #000000; background-color: #FFFFFF; } */
.highlight .c {
  color: #008000;
} /* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
.highlight .k {
  color: #0000ff;
} /* Keyword */
.highlight .o {
  color: #000000;
} /* Operator */
.highlight .p {
  color: #000000;
} /* Punctuation */
.highlight .ch {
  color: #008000;
} /* Comment.Hashbang */
.highlight .cm {
  color: #008000;
} /* Comment.Multiline */
.highlight .cp {
  color: #0000ff;
} /* Comment.Preproc */
.highlight .cpf {
  color: #008000;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #008000;
} /* Comment.Single */
.highlight .cs {
  color: #008000;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #a61717;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gh {
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #008000;
} /* Generic.Inserted */
.highlight .gp {
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  font-weight: bold;
} /* Generic.Subheading */
.highlight .kc {
  color: #0000ff;
} /* Keyword.Constant */
.highlight .kd {
  color: #0000ff;
} /* Keyword.Declaration */
.highlight .kn {
  color: #0000ff;
} /* Keyword.Namespace */
.highlight .kp {
  color: #0000ff;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #0000ff;
} /* Keyword.Reserved */
.highlight .kt {
  color: #267f99;
} /* Keyword.Type */
.highlight .m {
  color: #098658;
} /* Literal.Number */
.highlight .s {
  color: #a31515;
} /* Literal.String */
.highlight .na {
  color: #ff0000;
} /* Name.Attribute */
.highlight .nb {
  color: #267f99;
} /* Name.Builtin */
.highlight .nc {
  color: #267f99;
} /* Name.Class */
.highlight .no {
  color: #001080;
} /* Name.Constant */
.highlight .nd {
  color: #267f99;
} /* Name.Decorator */
.highlight .ni {
  color: #800080;
} /* Name.Entity */
.highlight .ne {
  color: #990000;
} /* Name.Exception */
.highlight .nf {
  color: #795e26;
} /* Name.Function */
.highlight .nl {
  color: #990000;
} /* Name.Label */
.highlight .nn {
  color: #000000;
} /* Name.Namespace */
.highlight .nt {
  color: #800000;
} /* Name.Tag */
.highlight .nv {
  color: #001080;
} /* Name.Variable */
.highlight .ow {
  color: #0000ff;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mb {
  color: #098658;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #098658;
} /* Literal.Number.Float */
.highlight .mh {
  color: #098658;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #098658;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #098658;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #a31515;
} /* Literal.String.Affix */
.highlight .sb {
  color: #a31515;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #a31515;
} /* Literal.String.Char */
.highlight .dl {
  color: #a31515;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #a31515;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #a31515;
} /* Literal.String.Double */
.highlight .se {
  color: #a31515;
} /* Literal.String.Escape */
.highlight .sh {
  color: #a31515;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #a31515;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #a31515;
} /* Literal.String.Other */
.highlight .sr {
  color: #a31515;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #a31515;
} /* Literal.String.Single */
.highlight .ss {
  color: #a31515;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #000000;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #795e26;
} /* Name.Function.Magic */
.highlight .vc {
  color: #001080;
} /* Name.Variable.Class */
.highlight .vg {
  color: #001080;
} /* Name.Variable.Global */
.highlight .vi {
  color: #001080;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #001080;
} /* Name.Variable.Magic */
.highlight .il {
  color: #098658;
} /* Literal.Number.Integer.Long */
.highlight .ss {
  color: #a31515;
} /* Literal.String.Symbol */
